// header
header {
    border-bottom: 1px solid $secondary;
}
// text
.text-color {
    color: $text-color;
}
.text-size-12 {
    font-size: 0.8rem;
}

footer {
    .copy {
        font-size: 0.8rem;
    }
}