// header
header {
    border-bottom: 1px solid $secondary;
}
// text
.text-color {
    color: $text-color;
}
.text-size-12 {
    font-size: 0.8rem;
}
// section
.section {
    &-padding {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
    &-padding-2 {
        padding-top: 4.875rem;
        padding-bottom: 4.875rem;                               
    }
    &-padding-3 {
        padding-top: 4.875rem;
        padding-bottom: 0;
    }
    &-text-color {
        color: $secondary;
    }
    &-bg-color {
        background-color: $primary;
    }
    &-bg-image {
        background-image: url(../img/main/review_bg.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 500px;
        .section-title {
            &::after {
                width: 150px;
                background-color: #FFF;
            }
        }
    }
    &-bg-image-2 {
        background-image: url(../img/sub/about_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-title {
        position: relative;
        font-weight: 600;
        &::after {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 3px;
            background-color: $secondary;
            content: "";
        }
        &-padding {
            padding-bottom: 3rem;
        }
    }
}

footer {
    .copy {
        font-size: 0.8rem;
    }
}