// var
$primary: #FFFCF1;
$light: gray;
$text-color: #292922;
$secondary: #9E6934;

/* header */
header {
    height: 150px;

    .logo {
        line-height: 150px;
    }
} 

/* login */
#login {
    & .login_form {
        border-top: 1px solid $secondary;
        border-bottom: 1px solid $secondary;
        padding: 100px 112px 50px;
        & .title {
            font-size: 42px;
            padding-bottom: 60px;
        }
        & form {
            & .user_account {         
                & input {
                    outline: 0 none;
                    border: 1px solid #999;
                    border-radius: 10px;
                }
            }
            & .user_id {
                margin-bottom: 20px;
            }
            & .user_pw {
                margin-bottom: 10px;
            }
            & label {
                font-size: 16px;
                color: #999;
            }
            & .user_info {
                & .save_id { 
                    label {
                        color: $text-color;
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }
                ul li:nth-child(2){
                    position: relative;
                    padding: 0 20px;
                }
                ul li:nth-child(2):before, ul li:nth-child(2):after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    display: block;
                    width: 1px; 
                    height: 10px;
                    background-color: #999;
                }
                ul li:nth-child(2):before {
                    right: 10px;
                }
                ul li:nth-child(2):after {
                    left: 10px;
                }
                ul li a {
                    color: $text-color;
                    text-decoration: none;
                    font-size: 14px;
                }
            } // user_info
            & .d-grid {
                padding-top: 60px;
                & .login {
                    height: 70px;
                    font-size: 26px;
                }
            }
        } // form
    } // login_form
}

@import "./font";
@import "./reset";
@import "./mixin";
@import "./variable";
@import "../node_modules/bootstrap/scss/bootstrap.scss";