// var
$primary: #FFFCF1;
$light: gray;
$text-color: #333;
$secondary: #9E6934;

//main
// product
.product {
    &-item {
        border-radius: 20px;
        &-img {
            width: 100%;
            position: relative;
            img {
                width: 100%;
            }
        }
        &-text {
            .red {
                color: #F27979;
            }
            del {
                color: #CCC;
                font-weight: 300;
            }
        }
        .wish {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}
.btn {
    &-review {
        border: 2px solid #333;
    }
}
.review {
    img {
        width: 100%;
    }
}
@import "./font";
@import "./reset";
@import "./mixin";
@import "./common";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

